<div style="text-align:center">
  <br />
  <br />
  <h2>View Today's Surgery</h2>
  <div class="table-responsive">
    <table style="border:5px solid rgba(220,230,242,1);margin-left:350px">
      <thead>
        <tr style="background-color:rgba(220,230,242,1)">
          <th>Surgery Id</th>
          <th>Doctor Id</th>
          <th>Surgery Date</th>
          <th>End Time</th>
          <th>Start Time</th>
          <th>Surgery Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <!--<tbody>
        <tr *ngFor="let doc of doctors">
          <td>{{doc.DoctorId}}</td>
          <td>{{doc.DoctorName}}</td>
          <td><button type="submit" (click)="updateDoctor(doc)">Edit Doctor Details</button></td>
          <td><button type="submit">Delete Doctor Details</button></td>
        </tr>
      </tbody>-->
    </table>
  </div>
</div>
